.quick-link-ul-list {
  list-style: none;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(min(20ch, 100%), 1fr));
  display: grid;
  gap: calc(1rem);
}

.quick-link-button {
  text-transform: capitalize !important;
  font-size: 16px !important;
  color: var(--app-text-color) !important;
  height: 10rem;
  width: 100%;
}

.quick-link-icon {
  flex-shrink: 0;
  object-fit: contain;
  width: 3rem;
  height: 3rem;
}

.quick-link-button-span {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.quick-link-heading {
  margin-top: 8px;
}
