.portal-load-error {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-size: 2em;
  padding: 2em;
  box-sizing: border-box;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: var(--app-error-light-color);
}

.portal-load-error .portal-name {
  font-style: italic;
  color: var(--app-warning-color-dark);
}

.logout-btn {
  position: absolute;
  top: 1.5em;
  right: 1em;
  background: none;
  font-size: 1em;
  border: 3px solid var(--app-neutral-color);
  border-radius: 10px;
  padding: 8px 2em;
  color: var(--app-warning-color);
  font-weight: 500;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.logout-btn:hover {
  background: var(--app-warning-color-dark);
  color: var(--app-form-color);
}

.portals-list {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1em;
  color: var(--app-primary-light-color);
  text-decoration: underline;
}

.portal-list-item:hover {
  cursor: pointer;
  color: var(--app-primary-dark-color);
}

/* Overriding CurrencyTextField style for fixing the alignment issue */
[class*='MuiInputAdornment-positionStart'] {
  margin-right: 0 !important;
}

/* Support for google map autocomplete */
.pac-container {
  z-index: 2147483647;
}

.tox .tox-toolbar {
  background-color: var(--app-background-color) !important;
}

.tox .tox-toolbar__primary {
  background-color: var(--app-background-color) !important;
}

.tox .tox-toolbar__button {
  color: var(--app-text-color) !important;
}

.tox .tox-toolbar__button--enabled {
  background: var(--app-primary-color) !important;
  color: #fff !important;
}

.tox .tox-dialog {
  background-color: var(--modal-top-color) !important;
  color: var(--app-text-color) !important;
  /* border-radius: 8px !important; */
  /* box-shadow: 0 4px 24px rgba(0, 0, 0, 0.5) !important; */
  border: 1px solid var(--modal-border-color) !important;
  /* border-radius: 10px; */
  padding: 20px !important;
  box-shadow: 0 0 10px 3px var(--modal-box-shadow-color) !important;
}

/* .tox-dialog__body input{

} */

.tox .tox-dialog__header {
  background-color: var(--modal-top-color) !important;
  color: var(--app-text-color) !important;
  font-weight: 500;
  border-bottom: 1px solid var(--modal-border-color);
}

.tox .tox-dialog__footer {
  background: transparent !important;
  border-top: 1px solid var(--modal-border-color);
}

.tox .tox-dialog-wrap__backdrop {
  background-color: var(--modal-background-color) !important;
}

.tox .tox-dialog__body input,
.tox .tox-dialog__body textarea,
.tox .tox-dialog__body select {
  background: initial !important;
  color: var(--app-text-color) !important;
  border: 1px solid var(--app-neutral-color) !important;
  border-radius: 4px !important;
  padding: 6px 10px !important;
  font-size: 1em !important;
  font-family: inherit !important;
}

.tox .tox-dialog__body button {
  background: transparent;
  color: #fff !important;
  border: none !important;
  border-radius: 4px !important;
  padding: 8px 16px !important;
  font-size: 1em !important;
  cursor: pointer !important;
}

.tox .tox-dialog__footer .tox-button {
  background: var(--app-primary-color) !important;
  color: #fff !important;
  border: none !important;
  border-radius: 4px !important;
  padding: 8px 16px !important;
  font-size: 1em !important;
  cursor: pointer !important;
}

.tox .tox-dialog__footer .tox-button--secondary {
  background: var(--app-secondary-color) !important;
  color: var(--secondary-button-text-color) !important;
  font-size: 0.875rem !important;
  cursor: pointer !important;
}
