.psdk-utility {
  width: 100%;
  padding: 0.625rem 0rem;
  text-align: left;
  background-color: var(--utility-background-color);
  border-radius: 0.6125rem;
  margin: 0.3125rem 0rem;
  position: relative;
}

.psdk-header {
  display: flex;
  align-items: center;
}

.psdk-file-utility-card-svg-icon {
  width: 1.4rem;
  display: inline-block;
}

.header-text {
  font-size: 1rem;
  font-weight: bold;
  padding: 0px 5px;
}

.psdk-utility-count {
  background: var(--utility-count-background-color);
  border-radius: calc(1.125 * 0.5rem);
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  width: 1.25rem;
}

.psdk-dialog-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--modal-background-color);
  position: fixed;
  z-index: 999;
  top: 0px;
  left: 0px;
}

.psdk-modal-file-top {
  display: table;
  margin: auto;
  min-width: 650px;
  background-color: var(--modal-top-color);
  border: 1px solid var(--modal-border-color);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px 3px var(--modal-box-shadow-color);
}

.psdk-modal-file-selector {
  border: 1px dashed;
  width: 100%;
  padding: 0.3rem;
  text-align: center;
}

.psdk-modal-links-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.psdk-links-two-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: calc(1rem);
  width: 83%;
}

.psdk-modal-link-data {
  flex-grow: 3;
}

.psdk-modal-link-add {
  flex-grow: 1;
  margin-left: 10px;
}

.psdk-add-link-action {
  text-transform: unset !important;
  font-size: 14px;
}

.psdk-utility-view-all {
  width: 100%;
  display: flex;
  justify-content: center;
}

.psdk-view-all-header {
  display: flex;
  justify-content: space-between;
}

.psdk-close-button {
  border: none;
  background: none;
  cursor: pointer;
}

.psdk-view-all-body {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}
