# files to ignore

.DS_Store
node_modules
/dist
/distAuthoring
/__DO_NOT_COMMIT

**/lib
**/**/lib

# output for jest and playwright output
tests/coverage
tests/playwright-report
test-reports

**/tsconfig.*.tsbuildinfo

// ignore Security.md and License files in packages
packages/react-sdk-components/LICENSE
packages/react-sdk-components/SECURITY.md
packages/react-sdk-overrides/LICENSE
packages/react-sdk-overrides/SECURITY.md
