# files to ignore

.DS_Store
node_modules
/dist
/distAuthoring
/__DO_NOT_COMMIT

**/lib
**/**/lib

# output for jest and playwright output
tests/coverage
tests/playwright-report

**/tsconfig.*.tsbuildinfo
