name: Install, build-sdk, and pack

on:
  workflow_dispatch:

  push:
    branches:
      - master
      - 'release/**'

  pull_request:
    branches:
      - master
      - 'release/**'  

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies, run build-sdk, and pack
        run: npm run ci
      - run: npm run build:dev
      - run: npm run build-sdk-complete
      - run: npm run pack-sdk
